name: CI

on: [push, pull_request]

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v4

  build:
    needs: validation
    strategy:
      matrix:
         os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Build
      run: ./gradlew build -PRunToolchainTests
    - name: Publish
      run: ./gradlew publishToMavenLocal
    - name: Check output
      run: git --no-pager diff --exit-code HEAD
    - name: Install All Toolchains
      run: ../../gradlew installArm64Toolchain installSystemCoreToolchain
      working-directory: testing/cpp
    - name: Build Test
      run: ../../gradlew build
      working-directory: testing/cpp

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Publish
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: ./gradlew publishToMavenLocal
      - name: Publish (Release)
        if: ${{ github.repository_owner == 'wpilibsuite' && startsWith(github.ref, 'refs/tags/v') }}
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: |
          ./gradlew publishPlugin \
            -Pgradle.publish.key=$GRADLE_PUBLISH_KEY \
            -Pgradle.publish.secret=$GRADLE_PUBLISH_SECRET
